OZW772_RMU720/OZW772_RMU720/Web References/localhost/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/DataService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MasterSCADAWindowsService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionIP" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MasterSCADAWindowsService" minOccurs="0" name="requestObject" nillable="true" type="q1:RequestObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MasterSCADAWindowsService" minOccurs="0" name="GetDataResult" nillable="true" type="q2:ArrayOfSCADAObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostWriteValueHttps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionIP" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MasterSCADAWindowsService" minOccurs="0" name="requestObject" nillable="true" type="q3:RequestObject" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="new_value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostWriteValueHttpsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostWriteValueHttpsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Init">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionIP" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MasterSCADAWindowsService" minOccurs="0" name="requestObjects" nillable="true" type="q4:RequestObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartUpdating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionIP" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MasterSCADAWindowsService" minOccurs="0" name="requestObjects" nillable="true" type="q5:RequestObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartUpdatingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopUpdating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionIP" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MasterSCADAWindowsService" minOccurs="0" name="requestObjects" nillable="true" type="q6:RequestObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopUpdatingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>