OZW772_RMU720/OZW772_RMU720/Web References/localhost/item0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MasterSCADAWindowsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MasterSCADAWindowsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/DataService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RequestObject">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IDs" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IDsForRequests" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="URI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URLs" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestObject" nillable="true" type="tns:RequestObject" />
  <xs:complexType name="ArrayOfSCADAObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SCADAObject" nillable="true" type="tns:SCADAObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSCADAObject" nillable="true" type="tns:ArrayOfSCADAObject" />
  <xs:complexType name="SCADAObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCADAObject" nillable="true" type="tns:SCADAObject" />
</xs:schema>